@import "tailwindcss";

@theme {
  --color-primary-ultralight: #fae6c4;
  --color-primary-light: #ffc90e;
  --color-primary: #ff8040;
  --color-primary-dark: #724818;

  --color-secondary-light: #dafdfa;
  --color-secondary: #4ad6cd;
  --color-secondary-middledark: #3baea6;
  --color-secondary-dark: #298388;

  --color-ui-money: #28810d;
  --color-ui-stock: #ff9500;
}

@theme {
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
  }

  --animate-on-click-blink: blink 1s infinite;
}





